<h2>Empleados</h2>
<div>
  <button (click)="newEmp()">Add</button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span>
    <span>{{hero.name}}</span>
    <button class="delete"
      (click)="delete(hero); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedHero">
  <h2>{{selectedHero.name}} </h2>
  <div>
    <label>id: </label>{{selectedHero.id}}</div>
  <div>
    <label>cargo: </label>{{selectedHero.cargo}}</div>
  <div>
    <label>edad: </label>{{selectedHero.edad}}</div>
  <button (click)="gotoDetail()">Edit</button>
</div>