<div class="row">
  <div class="col-xs-12">
    <div *ngIf="hero">
        <h2>Editando...{{hero.name}} </h2>
      <div>
      <div class="text-center">
			<img src= {{hero.img}} width="30" height="30" alt="" />
		  </div>
        <label>id: </label>{{hero.id}}
      </div>
      <div>
        <label>cargo: </label><input [(ngModel)]="hero.cargo" placeholder="cargo" />
      </div>
      <div>
        <label>edad: </label><input [(ngModel)]="hero.edad" placeholder="edad" />
      </div>
      <div>
        <label>name: </label><input [(ngModel)]="hero.name" placeholder="name" />
      </div>
  </div>
    <div class="col-xs-12">
      <div>
        <label>image: </label>
      <input type="file" (change)="onChange($event, file)" accept="image/x-png"#file/>
    </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save(file)">Save</button>
</div>
 
            
   

  